.gatos{
    display: flex;
    flex-direction: column;
    align-items: center;

    .lista-gatos{
        img{
            display: block;
        }
    }

    .tabla-gatos{
        img{
            display: block;
        }
    }
}
